# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Generate Symbols'
      'command': 'symscan:generate'
    },
    {
      'label': 'First Symbol'
      'command': 'symscan:firstSymbol'
    },
    {
      'label': 'Previous Symbol'
      'command': 'symscan:prevSymbol'
    },
    {
      'label': 'Next Symbol'
      'command': 'symscan:nextSymbol'
    },
    {
      'label': 'Mark Symbol'
      'command': 'symscan:markSymbol'
    },
    {
      'label': 'Clear Marks'
      'command': 'symscan:clearMarks'
    },
]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'symscan'
      'submenu': [
        {
          'label': 'Generate Symbols'
          'command': 'symscan:generate'
        },
        {
          'label': 'First Symbol'
          'command': 'symscan:firstSymbol'
        },
        {
          'label': 'Previous Symbol'
          'command': 'symscan:prevSymbol'
        },
        {
          'label': 'Next Symbol'
          'command': 'symscan:nextSymbol'
        },
        {
          'label': 'Mark Symbol'
          'command': 'symscan:markSymbol'
        },
        {
          'label': 'Clear Marks'
          'command': 'symscan:clearMarks'
        },
      ]
    ]
  }
]
